@import "colores";
/*TEXTO*/
/* SASS - SEGUNDA PARTE*/
.text {
  color: $blanco;
  font-weight: bold;
  text-align: center;
}
.texto {
  @extend .text;
  font-size: large;
  margin-top: 20px;
  padding: 1px;
  font-weight: bold;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.textoDark {
  @extend .text;
  font-size: 20px;
  margin: 0;
  background-color: $transparente;
  padding: 0.2rem;
  opacity: 0;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}
.textoNosotros {
  @extend .text;
  font-size: 20px;
  margin: 0;
  padding: 0.2rem;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2rem;
  margin-bottom: 3rem;
  font-weight: bolder;
}
.textoTituloPag {
  @extend .text;
  margin: 0;
  padding: 0.2rem;
  align-self: center;
  margin-top: 1rem;
}
.Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ImgLandingPage {
  @extend .Img;
  width: 70%;
}
.ImgNosotros {
  @extend .Img;
  width: 56%;
}
@for $i from 1 through 9 {
  .contenedor#{$i} {
    grid-area: producto#{$i};
  }
}
.boton {
  padding: 15px 15px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 1rem;
  margin: 2rem auto 2rem;
  display: block;
}
.botonTienda {
  @extend .boton;
  margin: 1rem auto 0rem;
}
